:root {
  --color-bg: #0c1417;
  --color-bg-light: #ffffff;
  --color-orange: #f7931e;
  --color-grey: #85898b;

  --font-main: 'Montserrat', sans-serif;

  --font-bold: 700;
  --font-semibold: 600;
}

* {
  font-family: var(--font-main);
}

html body {
  margin: 0;
  background: var(--color-bg);
  height: 100vh;
  color: var(--color-bg-light);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
