:root {
  --color-bg: #0c1417;
  --color-bg-light: #ffffff;
  --color-orange: #f7931e;
  --color-grey: #85898b;

  --font-main: 'Montserrat', sans-serif;

  --font-bold: 700;
}

* {
  font-family: var(--font-main);
}

html body {
  margin: 0;
  background: var(--color-bg);
  height: 100vh;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
